.env
.env.local
.env.*.local

# Dependências
/node_modules/

# Next.js build
/.next/
/out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos de sistema
.DS_Store

# Pastas de editor
/.vscode/
/.idea/

# Vercel
.vercel/